:root {
    --white: #FFF;
    --primary: #135757;
    --secundary: #4ec45e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Open sans', sans-serif;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

.main {
    background-color: var(--primary);
    min-height: 100vh;
}

.header {
    height: 100px;
    padding: 0 30px;
    &-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }
    &-logo a {
        font-size: 3rem;
        color: var(--white);
    }
    &-nav a {
        font-size: 1.8rem;
        font-weight: bold;
        color: var(--white);
    }
}

.content {
    padding: 50px 30px;
}

.characters {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    &-inner {
        @extend .characters;
        grid-template-columns: 1fr 2fr;
        column-gap: 80px;
        place-items: center;
        align-content: space-between;
        &__item {
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            max-width: 400px;
            width: 100%;
            h2 {
                position: absolute;
                bottom: 0;
                width: 100%;
                font-size: 2rem;
                padding: 30px 20px;
                text-align: center;
                background: var(--white);
                color: var(--secundary);
            }
            img {
                width: 100%;
            }
        }
        &__card {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            column-gap: 30px;
            border-radius: 10px;
            padding: 30px;
            background-color: var(--white);
            height: 100%;
            width: 100%;
            h3 {
                font-size: 2rem;
                color: var(--secundary);
            }
            span {
                font-weight: normal;
                font-size: 1.8rem;
                color: var(--primary);
            }
        }
    }
}

.characters-item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    &:hover {
        a {
            color: var(--secundary);
        }
        img {
            transform: scale(1.1);
        }
    }
    a {
        transition: all .3s ease;
        color: var(--primary);
    }
    h2 {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 2rem;
        padding: 30px 20px;
        text-align: center;
        background: var(--white);
    }
    img {
        width: 100%;
        object-fit: cover;
        transition: all .3s ease;
    }
}

@media screen and (max-width: 768px) {
    .characters-inner {
        grid-template-columns: inherit;
        grid-template-rows: 1.5fr 1fr;
    }
}